.header-container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #fab135;
  border-bottom: 3px solid #f37821;
  z-index: 15;
}

.header-container ul {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  height: 100%;
  list-style: none;
  font-weight: 600;
  font-size: 1.3em;
  text-transform: uppercase;
  color: #fff;
}

.header-container ul li {
  display: flex;
  align-items: center;
  padding: 26px;
  cursor: pointer;
  height: 100%;
}

.header-container ul li:hover {
  background-color: #f37821;
}
